@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes wave-letter {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
}
